body {
    background-color: rgb(241, 250, 238); 
}
h1 { color: rgb(29, 53, 87);

    font-family: "Lucida Sans"; 
    font-size:40px;
    border-style: double; 
    border-width: medium; 
    border-color: rgb(69, 123, 157);
    text-align: center;
}
.header { Border-color: #12926b;}
h2 { color: rgb(29, 53, 87);
    font-family: "Lucida Sans"; 
    font-size:25px;
    text-align: center;
}
#subheading { font-size: 30px}
.list { height: 50px;
     width: 300px;
    white-space: normal;
    border: groove;
    border-width: medium;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;}
ol { color: rgb(29, 53, 87);
    font-family: Verdana;
    font-size:24px;
}
.section { height: 300px;
width: 1200px;}
img { height:250px;
    border-radius: 50%;
    border-style: dotted;
    border-width: thick;
    Border-color: rgb(69, 123, 157);
    padding: 5px;
    float: inline-end;
}
.friend {border-radius: 0}
.comfy {border-radius: 0;
border-style: dashed;
border-width: medium;
max-width: 30%;
height:300px; }
nav {
  width: 239px;
  height: 121px;
  border-style: dotted;
  border-width:medium;
    padding: 5px;
}
p {color: rgb(29, 53, 87);
    font-family: "Lucida Sans"; 
    font-size:15px;
    text-align: left;
    text-indent: 20px;
    line-height: 1.5;
    border: double;
    padding: 5px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
} 
h3 { color: rgb(29, 53, 87);
    font-family: "Lucida Sans"; 
    font-size:15px;
}
h4 { font-family: "courier new";
    font-size: 12px;
  bottom: 0;
 text-align: center;
}
table, th, td {text-align-last: center; 
    border: double;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
th, td {padding:10px;
color: rgb(29, 53, 87);
    font-family: "Lucida Sans"; 
    font-size:18px;
    text-align: center;
    position: relative;
    bottom:0px;
}
ul {padding:10px;
color: rgb(29, 53, 87);
    font-family: "Lucida Sans"; 
    font-size:18px; 
    padding-left:52px;  }